<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <title>Katra</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="jquery.mobile.custom.flatui.css" />
    <script src="require.js" data-main="js/loader"></script>
    <style>
        .center {
            display: inline;
            text-align: center;

        };
    </style>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories">
  
      <div data-role="header" data-position="fixed">
            <h1>Categories</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <h2>Select a Category Below:</h2>
            <ul data-role="listview" data-inset="true">
                  <li><a href="#category?animals" class="animals">Animals</a></li>
                  <li><a href="#category?colors" class="colors">Colors</a></li>
                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
            </ul>
      </div><!-- /content -->


    <div data-role="footer" data-position="fixed" class="ui-bar ui-icon-alt center">
        <div data-role="controlgroup" data-type="horizontal" data-inline="true">
            <a href="#" data-mini="true" data-role="button" data-iconpos="top" data-icon="gear">Run</a>
            <a href="#" data-mini="true" data-role="button" data-iconpos="top" data-icon="home">Home</a>
            <a href="#" data-mini="true" data-role="button" data-iconpos="top" data-icon="info">Info</a>
        </div>
    </div>
</div>

<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header" data-position="fixed">
	    <h1>Animals</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
    <div data-role="footer" data-position="fixed" class="ui-bar ui-icon-alt center">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" data-iconpos="top" data-icon="gear" data-theme="a">Run</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="home" data-theme="a">Home</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="info" data-theme="a">Info</a>
        </div>
    </div>


</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header" data-position="fixed">
	    <h1>Colors</h1>
      </div><!-- /header -->

      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
    <div data-role="footer" data-position="fixed" class="ui-bar ui-icon-alt center">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" data-iconpos="top" data-icon="gear" data-theme="a">Run</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="home" data-theme="a">Home</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="info" data-theme="a">Info</a>
        </div>
    </div>


</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header" data-position="fixed">
	    <h1>Vehicles</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

    <div data-role="footer" data-position="fixed" class="ui-bar ui-icon-alt center">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" data-iconpos="top" data-icon="gear" data-theme="a">Run</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="home" data-theme="a">Home</a>
            <a href="#" data-role="button" data-iconpos="top" data-icon="info" data-theme="a">Info</a>
        </div>
    </div>

</div>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">

      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

</body>
</html>